<% layout('layouts/main') %>

<section>
  <div class="wrapper">
    <div class="about">
      <div class="about__info">
        <h2 class="about__title" id="about">общие сведения об организации</h2>
        <ul class="about__items">
          <li class="about__item">
            <h3 class="about__docs-title">Основные сведения</h3>
            <p class="about__docs-subtitle">
              Места осуществления образовательной<br />деятельности
            </p>
            <div class="about__docs-wrapper">
              <div class="about__docs-block">
                <p class="about__docs-text">
                  Образовательная деятельность по основным образовательным
                  программам дошкольного образования осуществляется по адресу:
                </p>
                <ul>
                  <li class="about__docs-address about__docs-address_pink">
                    Корпус 1 <br />
                    628405, Российская Федерация, Ханты-Мансийский автономный
                    округ-Югра, проспект Пролетарский д. 10
                  </li>
                  <li class="about__docs-address about__docs-address_pink">
                    Корпус 2 <br />
                    628452, Российская Федерация, Ханты-Мансийский автономный
                    округ-Югра, с.п. Солнечный ул. Таежная 4/1
                  </li>
                </ul>
              </div>
              <div class="about__docs-block">
                <p class="about__docs-text">
                  Образовательная деятельность по программам дополнительного
                  образования осуществляется по адресу:
                </p>
                <ul>
                  <li class="about__docs-address about__docs-address_blue">
                    Корпус 1 <br />
                    628405, Российская Федерация, Ханты-Мансийский автономный
                    округ-Югра, проспект Пролетарский д. 10
                  </li>
                  <li class="about__docs-address about__docs-address_blue">
                    Корпус 2 <br />
                    628452, Российская Федерация, Ханты-Мансийский автономный
                    округ-Югра, с.п. Солнечный ул. Таежная 4/1
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="about__item">
            <div class="about__info-block">
              <p class="about__subtitle" id="mth">
                Информация о местах осуществления образовательной деятельности
                при использовании сетевой формы реализации образовательных
                программ
              </p>
              <p class="about__text">
                Сетевая форма реализации образовательных программ не
                осуществляется.
              </p>
            </div>
            <div class="about__info-block">
              <p class="about__subtitle">
                Информация о местах проведения практики, практической подготовки
                обучающихся, государственной итоговой аттестации, по основным
                программам профессионального обучения
              </p>
              <p class="about__text">
                Проведение практики, практической подготовки обучающихся,
                государственной итоговой аттестации, реализация основных
                программ профессионального обучения не осуществляется.
              </p>
            </div>
          </li>
          <li class="about__item">
            <ul class="about__docs-list">
              <li class="about__docs-item">
                <a href="./docs/Основные сведения.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Общие
                  сведения</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/Карточка предприятия.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Карточка
                  предприятия</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/Выписка ЕГРЮЛ.pdf.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Выписка
                  ЕГРЮЛ</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/ИНН.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />ИНН</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Материально-техническое обеспечение и оснащение.pdf"
                  target="_blank"
                  ><img
                    src="./img/document.svg"
                    alt="document"
                  />Материально-техническое обеспечение и оснащение</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Отчет самообследования деятельности Центра развития.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Отчет
                  самообследования деятельности Центра развития</a
                >
              </li>
            </ul>
          </li>
          <li class="about__item">
            <h3 class="about__docs-title" id="structure">Структура и органы управления</h3>
            <div class="about__info-block">
              <p class="about__subtitle">
                Управление ООО Центром Развития «Золотой Ключик» осуществляется
                в соответствии с Федеральным законом Российской Федерации от 29
                декабря 2012 г. №273 - ФЗ «Об образовании в Российской
                Федерации», Уставом ООО «Золотой Ключик».
              </p>
              <p class="about__text">
                Управление ООО «Золотой Ключик» строится на принципах
                единоначалия и коллегиальности.
              </p>
              <p class="about__text">
                Непосредственное руководство и управление деятельностью ООО
                осуществляет руководитель - заведующий ООО «Золотой Ключик» -
                Башаева Малика Рахмановна, который назначается приказом
                Учредителя.
              </p>
            </div>
            <h3 class="about__docs-title" style="margin-bottom: 15px">Коллегиальные органы управления</h3>
            <ul class="about__docs-list">
              <li class="about__docs-item">
                <a href="./docs/Организационная структура.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Структура и
                  органы управления</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Положение о совете родителей.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Положение о
                  совете родителей</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/Положение об общем собрании.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Положение об
                  общем собрании</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Положение о педагогическом совете.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Положение о
                  педагогическом совете</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Положение об управляющем совете.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Положение об
                  управляющем совете</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Положение о порядке самообследования.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Положение о
                  порядке самообследования</a
                >
              </li>
            </ul>
          </li>
          <li class="about__item">
            <h3 class="about__docs-title" id="docs">Документы</h3>
            <ul class="about__docs-list">
              <li class="about__docs-item">
                <a href="./docs/Устав.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Устав</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/Коллективный договор.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Коллективный
                  договор</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Порядок оформления отношений между Золотым ключиком и родителями.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Порядок
                  оформления возникновения и прекращения отношений между
                  структурным позразделением Золотым ключиком и родителями</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Правила отчисления воспитанников структурного подразделения.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Правила
                  отчисления воспитанников структурного подразделения</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Порядок и основания для перевода, отчисления воспитанников.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Порядок и
                  основания для перевода, отчисления воспитанников</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Правила внутреннего распорядка воспитанников Золотой ключик.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Правила
                  внутреннего распорядка воспитанников Золотой ключик</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Правила внутреннего трудового распорядка Золотой ключик.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Правила
                  внутреннего трудового распорядка</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Положение об аттестации педагогических работников.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Положение об
                  аттестации педагогических работников</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/Режим занятий воспитанников.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Режим занятий
                  воспитанников</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/Расписание.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Расписание</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Нормы СанПин для детских садов, школ.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Нормы СанПин
                  для детских садов, школ</a
                >
              </li>
            </ul>
            <div class="about__info-block" style="margin-top: 30px;">
                <p class="about__subtitle" style="margin-bottom: 15px;">Неисполненные предписания органов, осуществляющих гос. контроль (надзор) в сфере<br />образования в 2024 году отсутствуют.</p>
                <p class="about__subtitle">Неисполненные предписания органов, осуществляющих гос. контроль (надзор) в сфере<br />образования в 2023 году отсутствуют.</p>
            </div>
            </li>
          <li class="about__item">
            <h3 class="about__docs-title" id="knowledge">Образование</h3>
            <ul class="about__docs-list">
              <li class="about__docs-item">
                <a href="./docs/Скан лицензии.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Лицензия</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Образовательная программа дошкольного образования.pdf"
                  target="_blank"
                  ><img
                    src="./img/document.svg"
                    alt="document"
                  />Образовательная программа дошкольного образования</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Образовательная программа для обучающихся с ОВЗ (ЗПР).pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Адаптированная
                  образовательная программа дошкольного образования для
                  обучающихся с ограниченными возможностями здоровья (ЗПР)</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Образовательная программа для обучающихся с ОВЗ (ТНР).pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Адаптированная
                  образовательная программа дошкольного образования для
                  обучающихся с ограниченными возможностями здоровья (ТНР)</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/Аннотация к АОП.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Аннотация к
                  АОП</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Специальные условия для лиз с ОВЗ.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Специальные
                  условия для лиз с ОВЗ</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Приказ об утверждении ФОП ДО 2023.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Приказ об
                  утверждении ФОП ДО 2023</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Приказ Минобрнауки РФ Об утверждении федерального стандарта ДО.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Приказ
                  Минобрнауки РФ Об утверждении федерального стандарта ДО</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Приказ Минпросвещения РФ Об утверждении образовательной деятельности ДО.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Приказ
                  Минпросвещения РФ Об утверждении образовательной деятельности
                  ДО</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/УПРФ об утверждении гос. политики по сохранению традиционных ценностей.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />УПРФ об
                  утверждении гос. политики по сохранению традиционных
                  ценностей</a
                >
              </li>
              <li class="about__docs-item">
                <a
                  href="./docs/Положение о мониторинге освоения образовательной программы.pdf"
                  target="_blank"
                  ><img src="./img/document.svg" alt="document" />Положение о
                  мониторинге освоения образовательной программы</a
                >
              </li>
            </ul>
            <div class="about__info-block" style="margin-top: 30px;">
                <p class="about__subtitle" id="pay-know">Дополнительные платные образовательные<br />услуги отсутствуют.</p>
            </div>
            <div class="about__info-block">
                <p class="about__subtitle" style="margin-bottom: 25px;">Информация о программах<br />дошкольного образования:</p>
                <p class="about__text about__text_mb">В ООО «ЗОЛОТОЙ КЛЮЧИК» образовательный процесс организован на основе образовательной программы, которая разрабатывается, утверждается и реализуется в соответствии с ФОП и ФГОС ДО. Программа учитывает особенности психофизического развития детей и их индивидуальные возможности.</p>
                <p class="about__text about__text_mb">Главная задача основной программы дошкольного образования заключается в комплексном развитии и воспитании ребёнка на протяжении всего дошкольного периода. В основе программы лежат духовно-нравственные ценности народов России, а также культурные и исторические традиции.</p>
                <p class="about__text about__text_mb">Адаптированная программа предназначена для детей с ограниченными возможностями здоровья. Она учитывает их особые психофизические потребности и направлена на коррекцию отклонений в развитии. Реализация программы происходит в группах компенсирующей направленности, что обеспечивает полноценную поддержку детей.</p>
                <p class="about__text about__text_mb">Цель адаптированной программы – создать систему, в которой взаимодействие специалистов ООО «ЗОЛОТОЙ КЛЮЧИК» и родителей воспитанников будет максимально эффективным, направленным на интеграцию их усилий для лучшего развития ребёнка.</p>
                <p class="about__text about__text_mb">Для реализации программ используются различные электронные средства, такие как интерактивные доски, моноблоки и мультимедийные образовательные столы.</p>
                <p class="about__text about__text_mb">Дистанционные образовательные технологии в детском саду не применяются.</p>
                <p class="about__text about__text_mb">Все образовательные программы ведутся на русском языке в течение всего времени, пока дети находятся в учреждении.</p>
            </div>
            <div class="about__info-block">
                <p class="about__subtitle">Информация о реализуемом в ООО «ЗОЛОТОЙ КЛЮЧИК» уровне<br />образования, форме обучения, языке, на котором осуществляется обучение:</p>
                <p class="about__text">Реализуемый уровень образования - дошкольное.</p>
                <p class="about__text">Форма обучения - очная.</p>
                <p class="about__text">Язык образования - русский.</p>
                <p class="about__text">Нормативные сроки обучения - 6 лет.</p>
            </div>
          </li>
          <li class="about__item">
            <h3 class="about__docs-title" style="margin-bottom: 0;" id="empty-space"><a href="./img/вакантные места.png" class="about__docs-title-link" data-fslightbox="empty-space">Вакантные места для приема (перевода) обучающихся по образовательным программам дошкольного образования</a></h3>
          </li>
        <li class="about__item">
            <h3 class="about__docs-title" style="margin-bottom: 0;" id="employees"><a href="./img/руководство.png" class="about__docs-title-link" data-fslightbox="employees">Руководство и педагогический состав</a></h3>
        </li>
        <li class="about__item">
            <h3 class="about__docs-title" id="fhd">Финансово-хозяйственная деятельность предприятия:</h3>
            <ul class="about__docs-list">
                <li class="about__docs-item">
                  <a href="./docs/Финансово-хозяйственная деятельность предприятия за 2023 год.pdf" target="_blank"
                    ><img src="./img/document.svg" alt="document" />Финансово-хозяйственная деятельность предприятия за 2023 год</a
                  >
                </li>
                <li class="about__docs-item">
                  <a href="./docs/Финансово-хозяйственная деятельность предприятия за 2022 год.pdf" target="_blank"
                    ><img src="./img/document.svg" alt="document" />Финансово-хозяйственная деятельность предприятия за 2022 год</a
                  >
                </li>
            </ul>
        </li>
        <li class="about__item">
            <h3 class="about__docs-title">Организация питания в образовательной деятельности</h3>
            <ul class="about__docs-list">
                <li class="about__docs-item">
                  <a href="./docs/Меню для детей в ДОУ возраст от 1-3 лет.pdf" target="_blank"
                    ><img src="./img/document.svg" alt="document" />Меню для детей в ДОУ возраст от 1-3 лет</a
                  >
                </li>
                <li class="about__docs-item">
                  <a href="./docs/Меню для детей в ДОУ возраст от 3-7 лет.pdf" target="_blank"
                    ><img src="./img/document.svg" alt="document" />Меню для детей в ДОУ возраст от 3-7 лет</a
                  >
                </li>
                <li class="about__docs-item">
                  <a href="./docs/Технологическая карта для блюд из круп и блюда из яиц.pdf" target="_blank"
                    ><img src="./img/document.svg" alt="document" />Технологическая карта для блюд из круп и блюда из яиц</a
                  >
                </li>
                <li class="about__docs-item">
                  <a href="./docs/Технологическая карта для салатов.pdf" target="_blank"
                    ><img src="./img/document.svg" alt="document" />Технологическая карта для салатов</a
                  >
                </li>
                <li class="about__docs-item">
                  <a href="./docs/Технологическая карта для супов.pdf" target="_blank"
                    ><img src="./img/document.svg" alt="document" />Технологическая карта для супов</a
                  >
                </li>
            </ul>
        </li>
        <li class="about__item">
            <h3 class="about__docs-title">Стипендии и иные виды материальной поддержки</h3>
            <p class="about__docs-text">Стипендии обучающимся ООО ЦР «ЗОЛОТОЙ КЛЮЧИК» не предоставляет.</p>
        </li>
        <li class="about__item">
            <h3 class="about__docs-title">Прочие документы</h3>
            <ul class="about__docs-list">
              <li class="about__docs-item">
                <a href="./docs/Приказ № 17 от 31.05.2024.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Приказ № 17 от 31.05.2024</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/Приложение к приказу № 17.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Приложение к приказу № 17</a
                >
              </li>
              <li class="about__docs-item">
                <a href="./docs/Опрос о качестве осуществления образовательной деятельности.pdf" target="_blank"
                  ><img src="./img/document.svg" alt="document" />Опрос о качестве осуществления образовательной деятельности</a
                >
            </li>
            <li class="about__docs-item">
                <div class="center-image">
                    <img src="./img/formsForQuality.png" alt="formsForQuality" width="14%">
                </div>
            </li>
            </ul>
        </li>
        </ul>
      </div>
    </div>
  </div>
</section>
