<% layout('layouts/main') %>

<section>
    <div class="wrapper">
        <div class="about">
            <div class="about__info">
                <h2 class="about__title">общие сведения об организации</h2>
                <ul class="about__items">
                    <li class="about__item">
                        <h3 class="about__docs-title">Основные сведения</h3>
                        <ul class="about__docs-list">
                            <li class="about__docs-item">
                                <a href="./docs/Основные сведения.pdf" target="_blank"><img src="./img/document.svg" alt="document">Общие сведения</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Карточка предприятия.pdf" target="_blank"><img src="./img/document.svg" alt="document">Карточка предприятия</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Выписка ЕГРЮЛ.pdf.pdf" target="_blank"><img src="./img/document.svg" alt="document">Выписка ЕГРЮЛ</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/ИНН.pdf" target="_blank"><img src="./img/document.svg" alt="document">ИНН</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Материально-техническое обеспечение и оснащение.pdf" target="_blank"><img src="./img/document.svg" alt="document">Материально-техническое обеспечение и оснащение</a>
                            </li>
                        </ul>
                    </li>
                    <li class="about__item">
                        <h3 class="about__docs-title">Структура и органы управления</h3>
                        <ul class="about__docs-list">
                            <li class="about__docs-item">
                                <a href="./docs/Организационная структура.pdf" target="_blank"><img src="./img/document.svg" alt="document">Структура и органы управления</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Положение о совете родителей.pdf" target="_blank"><img src="./img/document.svg" alt="document">Положение о совете родителей</a>
                            </li>
                        </ul>
                    </li>
                    <li class="about__item">
                        <h3 class="about__docs-title">Документы</h3>
                        <ul class="about__docs-list">
                            <li class="about__docs-item">
                                <a href="./docs/Устав.pdf" target="_blank"><img src="./img/document.svg" alt="document">Устав</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Коллективный договор.pdf" target="_blank"><img src="./img/document.svg" alt="document">Коллективный договор</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Порядок оформления отношений между Золотым ключиком и родителями.pdf" target="_blank"><img src="./img/document.svg" alt="document">Порядок оформления возникновения и прекращения отношений между структурным позразделением Золотым ключиком и родителями</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Правила отчисления воспитанников структурного подразделения.pdf" target="_blank"><img src="./img/document.svg" alt="document">Правила отчисления воспитанников структурного подразделения</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Правила внутреннего распорядка воспитанников Золотой ключик.pdf" target="_blank"><img src="./img/document.svg" alt="document">Правила внутреннего распорядка воспитанников Золотой ключик</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Правила внутреннего трудового распорядка Золотой ключик.pdf" target="_blank"><img src="./img/document.svg" alt="document">Правила внутреннего трудового распорядка</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Режим занятий воспитанников.pdf" target="_blank"><img src="./img/document.svg" alt="document">Режим занятий воспитанников</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Расписание.pdf" target="_blank"><img src="./img/document.svg" alt="document">Расписание</a>
                            </li>
                        </ul>
                    </li>
                    <li class="about__item">
                        <h3 class="about__docs-title">Образование</h3>
                        <ul class="about__docs-list">
                            <li class="about__docs-item">
                                <a href="./docs/Скан лицензии.pdf" target="_blank"><img src="./img/document.svg" alt="document">Лицензия</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Образовательная программа дошкольного образования.pdf" target="_blank"><img src="./img/document.svg" alt="document">Образовательная программа дошкольного образования</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Титул Образовательная программа для обучающихся с ОВЗ (ЗПР).pdf" target="_blank"><img src="./img/document.svg" alt="document">Титульный лист Адаптированная образовательная программа дошкольного образования для обучающихся с ограниченными возможностями здоровья (ЗПР)</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Образовательная программа для обучающихся с ОВЗ (ЗПР).pdf" target="_blank"><img src="./img/document.svg" alt="document">Адаптированная образовательная программа дошкольного образования для обучающихся с ограниченными возможностями здоровья (ЗПР)</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Титул Образовательная программа для обучающихся с ОВЗ (ТНР).pdf" target="_blank"><img src="./img/document.svg" alt="document">Титульный лист Адаптированная образовательная программа дошкольного образования для обучающихся с ограниченными возможностями здоровья (ТНР)</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Образовательная программа для обучающихся с ОВЗ (ТНР).pdf" target="_blank"><img src="./img/document.svg" alt="document">Адаптированная образовательная программа дошкольного образования для обучающихся с ограниченными возможностями здоровья (ТНР)</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Аннотация к АОП.pdf" target="_blank"><img src="./img/document.svg" alt="document">Аннотация к АОП</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Специальные условия для лиз с ОВЗ.pdf" target="_blank"><img src="./img/document.svg" alt="document">Специальные условия для лиз с ОВЗ</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>