<% layout('layouts/main') %>

<section>
    <div class="wrapper">
        <div class="about">
            <div class="about__info">
                <h2 class="about__title">общие сведения об организации</h2>
                <ul class="about__items">
                    <li class="about__item">
                        <h3 class="about__docs-title">Название подотдела</h3>
                        <ul class="about__docs-list">
                            <li class="about__docs-item">
                                <a href="./docs/Шпаргалка.pdf" target="_blank"><img src="./img/document.svg" alt="document">Название документа</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Шпаргалка.pdf" target="_blank"><img src="./img/document.svg" alt="document">Название документа</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Шпаргалка.pdf" target="_blank"><img src="./img/document.svg" alt="document">Название документа</a>
                            </li>
                        </ul>
                    </li>
                    <li class="about__item">
                        <h3 class="about__docs-title">Название подотдела</h3>
                        <ul class="about__docs-list">
                            <li class="about__docs-item">
                                <a href="./docs/Шпаргалка.pdf" target="_blank"><img src="./img/document.svg" alt="document">Название документа</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Шпаргалка.pdf" target="_blank"><img src="./img/document.svg" alt="document">Название документа</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Шпаргалка.pdf" target="_blank"><img src="./img/document.svg" alt="document">Название документа</a>
                            </li>
                        </ul>
                    </li>
                    <li class="about__item">
                        <h3 class="about__docs-title">Название подотдела</h3>
                        <ul class="about__docs-list">
                            <li class="about__docs-item">
                                <a href="./docs/Шпаргалка.pdf" target="_blank"><img src="./img/document.svg" alt="document">Название документа</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Шпаргалка.pdf" target="_blank"><img src="./img/document.svg" alt="document">Название документа</a>
                            </li>
                            <li class="about__docs-item">
                                <a href="./docs/Шпаргалка.pdf" target="_blank"><img src="./img/document.svg" alt="document">Название документа</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>