<% layout('layouts/admin') %>

<div class="container mb-5">
  <h1 class="mb-5">Таблицы</h1>
  <div class="row mb-4 ">
    <div class="col justify-content-between">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Заявки</h5>
            <p class="card-text">
              Общее количество заявок: <%= countQuestions.length %>
            </p>
            <a href="/admin/questions" class="btn btn-primary">Открыть</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Отзывы</h5>
            <p class="card-text">Общее количество отзывов: <%= reviews.length %></p>
            <a href="/admin/reviews" class="btn btn-primary">Открыть</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Новости</h5>
          <p class="card-text">Общее количество новостей: <%= news.length %></p>
          <a href="/admin/news" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Документы</h5>
          <p class="card-text">Изменить документы расположенные на сайте</p>
          <a href="/admin/docs" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
  </div> -->
</div>

<div class="container mb-5">
  <h1 class="mb-5">Контент на сайте</h1>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Главный блок</h5>
          <p class="card-text">Изменить текст на первом блоке</p>
          <a href="/admin/main" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Блок "Приветствие"</h5>
          <p class="card-text">Изменить текст на блоке "приветствие"</p>
          <a href="/admin/welcome" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Блок "Вопросы"</h5>
          <p class="card-text">Изменить вопросы в блоке</p>
          <a href="/admin/faq" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Блок "Преимущества"</h5>
          <p class="card-text">Изменить карточки в блоке "Преимущества"</p>
          <a href="/admin/advantages" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Блок c видео</h5>
          <p class="card-text">Изменить контент в блоке</p>
          <a href="/admin/performance" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pb-5">
  <h1 class="mb-5">Страница "Документы"</h1>
  <div class="row mb-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Страница "Документы"</h5>
          <p class="card-text">Изменить контент на странице с документами</p>
          <a href="/admin/docs" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
  </div>
</div>