<% layout('layouts/admin') %>

<div class="container mb-5 pb-5">
  <h1 class="mb-5">Создать отзыв</h1>
  <div class="row mb-4">
    <div class="col">
      <form class="w-50 mx-auto" method="POST" action="/admin/reviews/create" enctype="multipart/form-data">
        <div class="form-group mb-4">
          <label for="name">Имя родителя</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Введите имя">
        </div>
        <div class="form-group mb-4">
          <label for="parent">Чей родитель?</label>
          <input type="text" class="form-control" name="parent" id="parent" placeholder="Введите имя ребенка">
        </div>
        <div class="form-group mb-4">
          <label for="childAge">Сколько лет ребенку?</label>
          <input type="text" class="form-control" name="childAge" id="childAge" placeholder="Введите возраст ребенка">
        </div>
        <div class="form-group mb-4">
          <label for="review">Отзыв</label>
          <textarea type="text" rows="4" class="form-control" name="review" id="review" placeholder="Введите отзыв"></textarea>
        </div>
        <div class="form-group mb-4">
          <label for="videoUrl" class="form-label">Загрузите видеоролик</label>
          <input class="form-control" type="file" id="videoUrl" name="videoUrl">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
      </form>
    </div>
  </div>
</div>
